$gridSize: 500px;
$tileSize: 50px;

$gridSizeMobile: 300px;
$tileSizeMobile: 30px;

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.control {
  width: $gridSize;
  height: $tileSize;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  border: 1px solid black;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    width: $gridSizeMobile;
    height: $tileSizeMobile;
  }
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  font-size: 24px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }

  .secondsPlayed {
    color: red;
  }
  .flagsLeft {
    color: red;
  }
  .text {
    font-size: 12px;
    
    @media screen and (max-width: 600px) {
      font-size: 8px;
    }
  }
}

.emoji-button {
  width: $tileSize - 10;
  height: $tileSize - 10;
  font-size: 18px;
  box-shadow: 1px 1px 5px black;
  
  &:active {
    box-shadow: unset;
  }
  
  @media screen and (max-width: 600px) {
    width: $tileSizeMobile;
    height: $tileSizeMobile;
    font-size: 14px;
    padding: 0;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: $gridSize;
  @media screen and (max-width: 600px) {
    width: $gridSizeMobile;
  }
  
  .gameOver {
    pointer-events: none;
  }
  
  .tile {
    width: $tileSize;
    height: $tileSize;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    @media screen and (max-width: 600px) {
      width: $tileSizeMobile;
      height: $tileSizeMobile;
      font-size: 14px;
    }
  }
  
  .clean {
    background: linear-gradient(135deg, white, lightgray);
    box-shadow: 5px 5px 10px black;
  }
  
  .clicked {
    background-color: gray;
    box-shadow: unset;
  }

  .hasMine, .flagged {
    @media screen and (max-width: 600px) {
      width: $tileSizeMobile - 10;
      height: $tileSizeMobile - 10;
    }
  }
  
  .number {
    font-weight: bold;
  }
  
  .a1 {
    color: blue;
  }
  
  .a2 {
    color: green;
  }
  
  .a3 {
    color: red;
  }
  
  .a4 {
    color: darkblue;
  }
  
  .a5 {
    color: darkred;
  }
  
  .a6 {
    color: turquoise;
  }
  
  .a4 {
    color: black;
  }
  
  .a5 {
    color: gray;
  }
}

.project-description {
  padding: 20px 5%;
  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .social-info {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
  
    .social-link {
      img {
        width: 30px;
      }
    }
  }
  .made-by {
    text-align: right;
  }
}
